* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Special Elite', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  font-family: 'Special Elite', cursive;
}

audio {
  width: 100%;
}
