:root {
  --green-color: #38c172;
  --green-dark-color: #399e64;
  --yellow-color: #fff07c;
  --blue-color: #3f96e4;
  --grey-color: #333;
  --red-color: #f04a4a;
  --orange-color: #856088;
}

* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  font-family: Arial, Helvetica, sans-serif;
}

audio {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

audio {
  margin-bottom: 0;
}
